<header class="container header active" id="home">
  <div class="header-content">
      <div class="right-header">
          <h1 class="name">Hello! I'm <span>Varsha</span></h1>
          <p>
             A budding Software engineer who is very excited to learn new stuffs!!!!
          </p>
      </div>
      <div class="left-header">
          <div class="h-shape"></div>
          <div class="image">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyF444Npmm-H0iOscyybPRMCEa90lsvNJ0Fg&usqp=CAU" width="1000px" height="300px" alt="" />
          </div>
      </div>
  </div>
</header>
