<div class="main-title">
    <h2>About <span>me</span></h2>
</div>
<div class="about-container">
    <div class="left-about">
        <h4>ABOUT ME:</h4>
        <p>
            A budding fresher very keen to learn new and more things
        </p>
    </div>
    <div>
    <table>
      <tr>
        <th>Projects Completed</th>
        <th>Years of experience</th>
      <th>Happy Clients</th>
      <th>Customer reviews</th>
      </tr>
      <tr>
        <td>70+</td>
        <td>Fresher</td>
        <td>40+</td>
        <td>80+</td>
      </tr>
    </table>
  </div>
</div>
<div>
  <h4 class="stat-title">My Skills</h4>
  <table>
    <tr>
      <th>html5</th>
      <th>css3</th>
    <th>Python</th>
    <th>Javascript</th>
    <th>NodeJS</th>
    <th>Java</th>
    </tr>
    <tr>
      <td>90%</td>
      <td>70%</td>
      <td>85%</td>
      <td>80%</td>
      <td>70%</td>
      <td>85%</td>
    </tr> 
  </table>
</div>
  <h4 class="stat-title">My Timeline</h4>
  <div class="timeline">
  
      <div class="timeline-item">
          <div class="tl-icon">
              <i class="fas fa-briefcase"></i>
          </div>
          <p class="tl-duration">2018 - 2022</p>
          <h5>Electronics and Instrumentation Degree<span> - Anna University</span></h5>
          <p>
              Current year passed out
          </p>
      </div>
      <div class="timeline-item">
          <div class="tl-icon">
              <i class="fas fa-briefcase"></i>
          </div>
          <p class="tl-duration">2022 - present</p>
          <h5>Software Engineer<span>xyz Limited </span></h5>
          <P>Joined as a fresher</P>
      </div>
  </div>


