<section class="container contact" id="contact">
  <div class="contact-container">
      <div class="main-title">
          <h2>Contact <span>Me</span></h2>
      </div>
      <div class="contact-content-con">
          <div class="left-contact">
              <h4>Contact me here</h4>
              
              <div class="contact-info">
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fas fa-map-marker-alt"></i>
                          <span>Location</span>
                      </div>
                      <p>: Tamilnadu</p>
                  </div>
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fas fa-envelope"></i>
                          <span>Email</span>
                      </div>
                      <p>
                          <span>: vars@gmail.com</span>
                      </p>
                  </div>
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fas fa-user-graduate"></i>
                          <span>Education</span>
                      </div>
                      <p>
                          <span>: E&I</span>
                      </p>
                  </div>
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fa fa-phone fa-flip-horizontal" ></i>
                          <span>Mobile Number</span>
                      </div>
                      <p>
                          <span>: 9256859441</span>
                      </p>
                  </div>
                  <div class="contact-item">
                      <div class="icon">
                          <i class="fas fa-globe-africa"></i>
                          <span>Languages</span>
                      </div>
                      <p>
                          <span>: English,Tamil,Telugu</span>
                      </p>
                  </div>
              </div>
              
              </div>
          </div>
          <div class="right-contact">
              <form action="" class="contact-form">
                  <div class="input-control i-c-2">
                      <input type="text" required placeholder="Enter your Name" />
                      <input type="email" required placeholder="Enter your Mail Id" />
                  </div>
                 
                  <div class="input-control">
                      <textarea name="" id="" cols="15" rows="8" placeholder="Your views"></textarea>
                      
                  </div>
                  <div class="input-control">
                    <input type="submit" value="Submit" />
                  </div>
              </form>
          </div>
      </div>

</section>
