<p>portfolio works!</p>
<section class="container" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span></h2>
    </div>
    <p class="port-text">
        The projects that I have worked on.
    </p>
    
    <div class="portfolios">
        
        <div class="portfolio-item">
            <div >
                <ul><li><h3>Weather programer</h3></li></ul>
                    <pre>     This collects user data on a specific location and outputs the weather details of that provided location. </pre>
                    <ul><li><h3>CLI Based chat tool</h3></li></ul>
                    <pre>     Building a command-line chat tool using Python. The tool will support multiple chat rooms and can be used to communicate with multiple users on a network.        </pre>
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <a href="#">Github link</a>
            </div>
        </div>
        
      
      
    </div>
</section>
